<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LynxServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LynxServer.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>10.8.11.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8001</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>1</value>
            </setting>
        </LynxServer.Properties.Settings>
    </userSettings>
</configuration>